.forecast-wrapper{
    width: 190px;
    border: 1px solid #3C3E45;
    box-shadow: 10px 10px 10px black;
}

h3{
    align-content: center;
}

@media (max-width: 576px) { 
    .forecast-wrapper {
        margin-left: 80px;
    }
}

@media (max-width: 415px) { 
    .forecast-wrapper {
        margin-left: 50px;
    }
}

@media (max-width: 350px) { 
    .forecast-wrapper {
        margin-left: 20px;
    }
}