<div class="home-wrapper w-100 d-flex flex-column align-items-center">
  <div class="w-50 m-5">
    <input class="form-control" type="text" placeholder="Enter city" (keyup)="autocomplete()" #citySearch>
    <ul class="w-50 list-group list-container">
      <li class="item list-group-item list-group-item-action" *ngFor="let city of citiesResults"
        (click)="setCity(city)">{{city.LocalizedName}}, {{city.Country.LocalizedName}}</li>
    </ul>
  </div>
  <div class="weather-wrapper w-75">
    <div class="w-100 p-3 d-flex flex-column align-items-center flex-sm-row justify-content-sm-between">
      <div class="weather-details d-flex flex-column align-items-center flex-sm-row justify-content-sm-between"
        *ngIf="city">
        <div>
          <div *ngIf="city.WeatherIcon < 9; else otherIcon">
            <img src="https://developer.accuweather.com/sites/default/files/0{{city.WeatherIcon}}-s.png">
          </div>
          <ng-template #otherIcon>
            <img src="https://developer.accuweather.com/sites/default/files/{{city.WeatherIcon}}-s.png">
          </ng-template>
        </div>
        <div>
          <div>
            <h2> {{cityName}} </h2>
          </div>
          <div>
            <h3> {{city.Temperature.Metric.Value}}&deg;</h3>
          </div>
          <div>
            <h3> {{city.WeatherText}} </h3>
          </div>
        </div>
      </div>
      <div class="align-self-start">
        <i [ngClass]="!isFavorite ? 'far fa-heart' : 'fas fa-heart'"></i>
        <button class="btn btn-danger btn-rounded" (click)="onFavoriteClick()">{{btnFavorite}}</button>
      </div>
    </div>
    <div
      class="w-100 mt-4 mb-5 d-flex flex-wrap align-items-center justify-content-sm-between justify-content-sm-around"
      *ngIf="forecastOf5Days">
      <div class="d-flex flex-wrap" *ngFor="let day of forecastOf5Days.DailyForecasts">
        <app-daily-forecast [date]="day.Date" [icon]="day.Day.Icon" [tempMinimum]="day.Temperature.Minimum.Value"
          [tempMaximum]="day.Temperature.Maximum.Value">
        </app-daily-forecast>
      </div>
    </div>
  </div>
</div>